<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Footer</h4>
         
       </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        
       </div>
      <div class="footer-col">
        <h4>Blog</h4>
         
       </div>
      <div class="footer-col">
        <h4><a href="">GitHub Link</a></h4>   
       </div>
    </div>
  </div>
</footer>
  