	<app-navbar></app-navbar>
	<div class="container">

	
	<!-- Photo -->
	<img src="../../assets/profile.jpg" alt="Photo of Me">

	<!-- Text -->
	<h1>About Me</h1>
	<p>Hi, my name is Hossam and I'm a FrontEnd Developer. I've been interested in web devlopemntsince I was a kid, and that's what led me to pursue a career in Web devlopment.</p>

	<!-- More Information -->
	<h2>More Information</h2>
	<ul>
		<!-- <li><strong>Email:</strong>{{ users[0].email }}</li>
		<li><strong>Website:</strong> <a href="#">{{ users[0].phone }}</a></li>
		<li><strong>LinkedIn:</strong> <a href="#">{{ users[0].firstName }}</a></li> -->
		<li><strong>Twitter:</strong> <a href="#">fahmyuiux</a></li>
	</ul>
</div>
<app-footer></app-footer>